/* This is for the button component that we can use over the app */

/* Styles for the button component */
.btn {
    /* Styles for btn that is link and also after we click on the link */
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        // Change for the <button> element
        border: none;
        cursor: pointer;
    }

    /* Styles for when the user hover button */
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

         /* Styles for after only when user hover button */
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;/* For fades out */
        }
    }

    /* Styles for when user press on the button */
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    /* Styles for buttons the will be white */
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    /* Styles for buttons the will be green */
    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    /* Styles for the virtual element that come after the button element */
    &::after {
        content: ""; /* Neccery in after pseudo class */
        display: inline-block;/* Neccery in after pseudo class */
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;/* Only in the intial state */
    }

    /* Styles for button that animate from bottom to top */
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;/* do animation 0% before he starts */
    }
}

/* Styles for the text button */
.btn-text {

    /* Styles for btn that is link and also after we click on the link */
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    /* Styles for when the user hover button */
    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    /* Styles for when user press on the button */
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        transform: translateY(0);
    }
}