/* Styles for utilting things like center text */
/* Style for utility that center text */
.u-center-text { text-align: center !important; }

/* Style for utility that make small bottom margin(2rem) */
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }

/* Style for utility that make medium bottom margin(4rem) */
.u-margin-bottom-medium { margin-bottom: 4rem !important; }

/* Style for utility that make big bottom margin(8rem) */
.u-margin-bottom-big { margin-bottom: 8rem !important; }

/* Style for utility that make big top margin(8rem) */
.u-margin-top-big { margin-top: 8rem !important; }

/* Style for utility that make huge top margin(8rem) */
.u-margin-top-huge { margin-top: 10rem !important; }

